*,*::before,*::after{
    // outline: 1px solid gray; 
}

body{
    font-family: "Roboto",  //設計稿的英文字體
        "Noto Sans TC", //設計稿的中文字體
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        "Microsoft JhengHei",
        "Helvetica Neue",
        Arial,
        sans-serif;
        line-height: 1.5;
        background-color: #0A0A0A;
        color: white;
}


img{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}


a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}


//bootstrap內建icon系統
i{                              
    
    display: inline-block;
    line-height: 0;
}

//清除bootstrap的奇怪margin-bottom格式
h1,
h2,
h3,
h4,
h5,
h6{
    margin-bottom: 0;
    line-height: 1.2;
    letter-spacing: .05em;
}

p{
    margin-bottom: 0;
}

ul{
    padding: 0;
    margin-bottom: 0;
    list-style: none;

}

//span預設inline不太好排版，所以改成inline-block比較好用
span {
    display: inline-block;
    white-space: nowrap;
}