<nav class="navbar navbar-expand-lg navbar-dark header-nav">
    <div class="container">
      <a class="navbar-brand py12 py-lg4" href="index.html"><img src="../assets/images/deco/moviemeet logo.png" alt="logo"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse"  id="navbarTogglerDemo02">
        <!--手機版選單-->
        <div class="d-lg-none">
                <ul class="navbar-nav mt8">
                  <li class="nav-item mb7">
                    <a class="nav-link active text-gray-100" aria-current="page" href="#">熱門</a>
                  </li>
                  <li class="nav-item mb7">
                    <a class="nav-link text-gray-100" href="#">新劇</a>
                  </li>
                  <li class="nav-item mb7">
                    <a class="nav-link text-gray-100">劇友</a>
                  </li>
                  <li class="nav-item mb7">
                    <a class="nav-link text-gray-100 ">典藏</a>
                  </li>
                  <li class="nav-item mb7">
                    <a href="nav-link text-gray-100">註冊/登入</a>
                  </li>
                </ul>
              <div class="search d-flex bg-gray-400 rounded-pill w-50 border-bg-gray-500 border-2">
                <input class="form-control me-2 py-2 border-0 rounded-pill bg-gray-400 text-gray-300" type="search" placeholder="搜影劇、標籤" aria-label="Search">
                <button class="btn" type="submit"><span class="material-symbols-outlined text-gray-300 fz-6 align-bottom">
                  search
                </span></button>
              </div>
            </div>
        </div>

        <!--電腦選單-->
       <div class="d-none d-lg-block d-lg-flex align-items-center w-75 ml37 justify-content-between pcnav">
        <div class="d-flex">
          <ul class="navbar-nav mb-2 mb-lg-0">
            <li class="nav-item mr8">
              <a class="nav-link active text-gray-100" aria-current="page" href="#">熱門</a>
            </li>
            <li class="nav-item mr8">
              <a class="nav-link text-gray-100" href="#">新劇</a>
            </li>
            <li class="nav-item mr8">
              <a class="nav-link text-gray-100" href="#">劇友</a>
            </li>
            <li class="nav-item mr8">
              <a class="nav-link text-gray-100" href="#">典藏</a>
            </li>
          </ul>
          <div class="search d-flex bg-gray-400 rounded-pill">
            <input class="form-control me-2 border-0 rounded-pill bg-gray-400 text-gray-300" type="search" placeholder="搜影劇、標籤" aria-label="Search">
            <button class="btn" type="submit"><span class="material-symbols-outlined text-gray-300">
              search
            </span></button>
          </div>
        </div>
          <button type="button" class="btn btn-link text-gray-100 text-decoration-none">註冊/登入</button>
       </div>


    </div>
  </nav>