@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import "../../node_modules/bootstrap/scss/functions";
@import './vendor/variables';
@import "../../node_modules/bootstrap";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

@import './utils/mixin';
@import './utils/helper';

@import './base/base';

@import './component/button';

@import './layout/header.scss';
@import './layout/footer.scss';

@import './pages/index.scss';
@import './pages/myCosplay';