<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>我與劇中主角相會時</title>
</head>

<body>
    <%- include('./layout/header'); -%>

    <main class="myCosplay-main">
        <section class="sec1 py16 pt-sm6 pb-sm10">
            <div class="container">
                <div class="d-flex align-items-lg-center">
                    <div class="d-flex flex-column flex-md-row align-items-md-center">
                        <h1 class="fz-8 fz-sm5 mb-1">角色頭像卡</h1>
                        <h5 class="text-gray-400 fz-sm-mini ml3 ml-md0">Cosplay我的最愛角色</h5>
                    </div>
                    <!-- +新角色 Button trigger modal -->
                    <a href="#" class="ms-auto add-btn fz-6 fz-sm5 pr3 pr-md0 d-flex align-items-center" data-bs-toggle="modal" data-bs-target="#addAvatarModal"><i class="bi bi-plus-circle mr2 mr-md0"></i><span class="d-none d-md-block">新角色</span></a>
                </div>

                <!-- +新角色Modal -->
                <div class="modal fade" id="addAvatarModal" tabindex="-1" aria-labelledby="addAvatarModal" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content bg-gray-600 border broder-white mt8">
                            <div class="modal-header position-relative">
                                <h6 class="modal-title text-primary fz-sm4" id="addAvatarModalLabel">加入新角色</h6>
                                <button type="button" class="btn-close modal-btn-close position-absolute" data-bs-dismiss="modal" aria-label="Close"><i class="bi bi-x-circle text-white fz-6 bg-gray-600 "></i></button>
                            </div>
                            <div class="modal-body">
                                <form action="#">
                                    <div class="mb7 mb-sm4">
                                        <span class="text-danger mr1">*</span><span class="mb2">角色照</span>
                                        <label for="avartarImg" class="form-label uploadAvatarImg w-100">
                                            <div class="uploadStyle d-flex justify-content-center align-items-center fz-8 fz-sm5"><i class="bi bi-plus-lg"></i></div>
                                        </label>
                                        <input type="file" accept="image/*" class="form-control bg-gray-600" id="avartarImg" name="avartarImg" value="">
                                    </div>
                                    <div class="mb7 mb-sm4">
                                        <span class="text-danger mr1">*</span><label for="avartarName" class="form-label">角色名</label>
                                        <input type="text" class="form-control bg-gray-600" id="avartarName" name="avartarName" placeholder="此角色在劇中的名字" value="">
                                    </div>
                                    <div class="mb7 mb-sm4">
                                        <span class="text-danger mr1">*</span><label for="dramaName" class="form-label">劇名</label>
                                        <input type="text" class="form-control bg-gray-600" id="dramaName" name="dramaName" placeholder="這是哪一部影劇" value="">
                                    </div>
                                    <div class="mb7 mb-sm4">
                                        <span class="text-danger mr1">*</span><label for="actorName" class="form-label">演員名</label>
                                        <input type="text" class="form-control bg-gray-600" id="actorName" name="actorName" placeholder="這是哪一位演員" value="">
                                    </div>
                                    <div class="mb7 mb-sm4">
                                        <label for="music" class="form-label">配樂</label>
                                        <input type="url" class="form-control bg-gray-600" id="music" name="music" placeholder="貼上YouTube影片連結" value="">
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer ">
                                <button type="submit" class="btn btn-outline-primary w-100">確定加入</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </section>
        <section class="sec2 mb20 mb-md10">
            <div class="container">
                <div class="row gy-5">
                    <div class="col-sm-6 col-lg-3 d-flex justify-content-center">
                        <div class="card bg-gray-600 text-gray-300" >
                            <div class="cosplayAvatar cosplayAvatar-1 bg-cover border-r3 position-relative mb6 d-flex justify-content-center align-items-end">
                                <a href="#" class="use-btn stretched-link py3 px9 border-r25 fz-5 mb4 py-sm2 px-sm6 fz-sm4"><span>更換</span><span>正在Cos</span></a>
                            </div>
                            <img src="../assets/images/icon/wave-sound.png" alt="ic-music" class="ic-music position-absolute">
                            <div class="card-body pt-sm0">
                                <div class="d-flex justify-content-between align-items-center mb2">
                                    <h5 class="card-title mb0 text-white py1 pr10">浩克</h5>
                                    <!-- 編輯角色 Button trigger modal -->
                                    <a href="#" data-bs-toggle="modal" data-bs-target="#editAvatarModal"><i class="bi bi-pencil fz-5 fz-sm4 "></i></a>
                                </div>
                                <span class="d-block fz-sm4 fz-5 mb-sm0">復仇者聯盟</span>
                                <span class="d-block fz-sm4 fz-5">馬克．魯法洛 飾</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3 d-flex justify-content-center">
                        <div class="card bg-gray-600 text-gray-300" >
                            <div class="cosplayAvatar cosplayAvatar-2 bg-cover border-r3 position-relative mb6 d-flex justify-content-center align-items-end active">
                                <a href="#" class="use-btn stretched-link py3 px9 border-r25 fz-5 mb4 py-sm2 px-sm6 fz-sm4 active"><span>更換</span><span>正在Cos</span></a>
                            </div>
                            <img src="../assets/images/icon/wave-sound.png" alt="ic-music" class="ic-music position-absolute">
                            <div class="card-body pt-sm0">
                                <div class="d-flex justify-content-between align-items-center mb2">
                                    <h5 class="card-title mb0 text-white py1 pr10">劉娜比</h5>
                                    <a href="#"><i class="bi bi-pencil fz-5 fz-sm4 "></i></a>
                                </div>
                                <span class="d-block fz-sm4 fz-5 mb-sm0">無法抗拒的他</span>
                                <span class="d-block fz-sm4 fz-5">韓韶禧 飾</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3 d-flex justify-content-center">
                        <div class="card bg-gray-600 text-gray-300" >
                            <div class="cosplayAvatar cosplayAvatar-3 bg-cover border-r3 position-relative mb6 d-flex justify-content-center align-items-end">
                                <a href="#" class="use-btn stretched-link py3 px9 border-r25 fz-5 mb4 py-sm2 px-sm6 fz-sm4">更換</a>
                            </div>
                            <img src="../assets/images/icon/wave-sound.png" alt="ic-music" class="ic-music position-absolute">
                            <div class="card-body pt-sm0">
                                <div class="d-flex justify-content-between align-items-center mb2">
                                    <h5 class="card-title mb0 text-white py1 pr10">薛芳菲</h5>
                                    <a href="#"><i class="bi bi-pencil fz-5 fz-sm4 "></i></a>
                                </div>
                                <span class="d-block fz-sm4 fz-5 mb-sm0">墨雨雲間</span>
                                <span class="d-block fz-sm4 fz-5">吳謹言 飾</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3 d-flex justify-content-center">
                        <div class="card bg-gray-600 text-gray-300" >
                            <div class="cosplayAvatar cosplayAvatar-4 bg-cover border-r3 position-relative mb6 d-flex justify-content-center align-items-end">
                                <a href="#" class="use-btn stretched-link py3 px9 border-r25 fz-5 mb4 py-sm2 px-sm6 fz-sm4">更換</a>
                            </div>
                            <img src="../assets/images/icon/wave-sound.png" alt="ic-music" class="ic-music position-absolute">
                            <div class="card-body pt-sm0">
                                <div class="d-flex justify-content-between align-items-center mb2">
                                    <h5 class="card-title mb0 text-white py1 pr10">巨型娃娃</h5>
                                    <a href="#"><i class="bi bi-pencil fz-5 fz-sm4 "></i></a>
                                </div>
                                <span class="d-block fz-sm4 fz-5 mb-sm0">魷魚遊戲</span>
                                <span class="d-block fz-sm4 fz-5">巨型娃娃 飾</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3 d-flex justify-content-center">
                        <div class="card bg-gray-600 text-gray-300" >
                            <div class="cosplayAvatar cosplayAvatar-5 bg-cover border-r3 position-relative mb6 d-flex justify-content-center align-items-end">
                                <a href="#" class="use-btn stretched-link py3 px9 border-r25 fz-5 mb4 py-sm2 px-sm6 fz-sm4">更換</a>
                            </div>
                            <img src="../assets/images/icon/wave-sound.png" alt="ic-music" class="ic-music position-absolute">
                            <div class="card-body pt-sm0">
                                <div class="d-flex justify-content-between align-items-center mb2">
                                    <h5 class="card-title mb0 text-white py1 pr10">五條悟</h5>
                                    <a href="#"><i class="bi bi-pencil fz-5 fz-sm4 "></i></a>
                                </div>
                                <span class="d-block fz-sm4 fz-5 mb-sm0">咒術迴戰</span>
                                <span class="d-block fz-sm4 fz-5">五條悟 飾</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3 d-flex justify-content-center">
                        <div class="card bg-gray-600 text-gray-300" >
                            <div class="cosplayAvatar cosplayAvatar-6 bg-cover border-r3 position-relative mb6 d-flex justify-content-center align-items-end">
                                <a href="#" class="use-btn stretched-link py3 px9 border-r25 fz-5 mb4 py-sm2 px-sm6 fz-sm4">更換</a>
                            </div>
                            <img src="../assets/images/icon/wave-sound.png" alt="ic-music" class="ic-music position-absolute">
                            <div class="card-body pt-sm0">
                                <div class="d-flex justify-content-between align-items-center mb2">
                                    <h5 class="card-title mb0 text-white py1 pr10">阿成</h5>
                                    <a href="#"><i class="bi bi-pencil fz-5 fz-sm4 "></i></a>
                                </div>
                                <span class="d-block fz-sm4 fz-5 mb-sm0">當男人戀愛時</span>
                                <span class="d-block fz-sm4 fz-5">邱澤 飾</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 編輯角色Modal -->
                <div class="modal fade" id="editAvatarModal" tabindex="-1" aria-labelledby="editAvatarModal" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content bg-gray-600 border broder-white mt8">
                            <div class="modal-header position-relative">
                                <h6 class="modal-title text-primary fz-sm4" id="editAvatarModalLabel">修改角色</h6>
                                <button type="button" class="btn-close modal-btn-close position-absolute" data-bs-dismiss="modal" aria-label="Close"><i class="bi bi-x-circle text-white fz-6 bg-gray-600 "></i></button>
                            </div>
                            <div class="modal-body">
                                <form action="#">
                                    <div class="mb7 mb-sm4">
                                        <span class="text-danger mr1">*</span><span class="mb2 mr1">角色照</span>
                                        <label for="avartarImg" class="form-label changeAvatarImg">
                                            <div class="changeAvartar d-flex justify-content-center align-items-center"><i class="bi bi-arrow-repeat"></i></div>
                                        </label>
                                        <input type="file" accept="image/*" class="form-control bg-gray-600" id="avartarImg" name="avartarImg">
                                        <br>
                                        <img src="../assets/images/avatar-1.png" alt="avatar" style="width: 30%;">
                                    </div>
                                    <div class="mb7 mb-sm4">
                                        <span class="text-danger mr1">*</span><label for="avartarName" class="form-label">角色名</label>
                                        <input type="text" class="form-control bg-gray-600" id="avartarName" name="avartarName" placeholder="此角色在劇中的名字" value="浩克" >
                                    </div>
                                    <div class="mb7 mb-sm4">
                                        <span class="text-danger mr1">*</span><label for="dramaName" class="form-label">劇名</label>
                                        <input type="text" class="form-control bg-gray-600" id="dramaName" name="dramaName" placeholder="這是哪一部影劇" value="復仇者聯盟">
                                    </div>
                                    <div class="mb7 mb-sm4">
                                        <span class="text-danger mr1">*</span><label for="actorName" class="form-label">演員名</label>
                                        <input type="text" class="form-control bg-gray-600" id="actorName" name="actorName" placeholder="這是哪一位演員" value="馬克．魯法洛">
                                    </div>
                                    <div class="mb7 mb-sm4">
                                        <label for="music" class="form-label">配樂</label>
                                        <input type="url" class="form-control bg-gray-600" id="music" name="music" placeholder="貼上YouTube影片連結" value="https://www.youtube.com/watch?v=Z8uCNCz3s74">
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer ">
                                <button type="submit" class="btn btn-outline-primary w-100">確定修改</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
</body>

</html>